<div class="card mt-3">
    <div class="card-body">
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
            <ng-container *ngIf="todoForm.controls">
                <div class="mb-3">
                    <label class="form-label col-md-4">User Id *</label>
                    <input type="number" class="form-control" formControlName="userId" />
                    <p *ngIf="todoForm.controls['userId'].invalid && (todoForm.controls['userId'].dirty || todoForm.controls['userId'].touched)"
                        class="alert alert-danger p-2 mt-2">
                        <span *ngIf="todoForm.controls['userId'].hasError('required')">
                            User Id is required.
                        </span>
                    </p>
                </div>
                <div class="mb-3">
                    <label class="form-label col-md-4">Title *</label>
                    <input type="title" class="form-control" formControlName="title" />
                    <p *ngIf="todoForm.controls['title'].invalid && (todoForm.controls['title'].dirty || todoForm.controls['title'].touched)"
                        class="alert alert-danger p-2 mt-2">
                        <span *ngIf="todoForm.controls['title'].hasError('required')">
                            Title is required.
                        </span>
                    </p>
                </div>
                <div class="d-flex gap-3">
                    <button type="submit" class="btn btn-primary mr-1"
                        [disabled]="todoForm.pristine || todoForm.invalid">Submit
                    </button>
                    <button class="btn btn-primary" (click)="clearForm()">Clear</button>
                </div>
            </ng-container>
        </form>
    </div>
</div>